//COLORS
$orange-soft: hsl(35, 77%, 62%);
$red-soft: hsl(5, 85%, 63%);
$white-off: hsl(36, 100%, 99%);
$greyish-blue: hsl(233, 8%, 79%);
$dark-greyish-blue: hsl(236, 13%, 42%);
$dark-blue: hsl(240, 100%, 5%);
$dark-blue-modal: hsla(240, 100%, 5%, 0.5);

//FONT SIZES
$paragraph: 15px;
